@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --primary-color: red;
    --secondary-color: #4B5563;
    --grey-color: #E5E7EB;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0.5px;
}

hr {
    margin: 2rem 0rem;
}

.container{
    padding: 0 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/* links */

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color:whitesmoke;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/* list */

.list-non-bullet {
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

/* spaces */

.space-top {
    margin-top: 1.5rem;
}

.space-bottom {
    margin-bottom: 1.5rem;
}

/* Navigation */

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .nav-brand {
    font-weight: 700;
    font-size: 1.2rem;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: 700;
}

/* header */

.hero {
    padding: 2rem;
    text-align: center;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading{
    color: var(--secondary-color);
    padding-top: 1rem;
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

/* section */

.section {
    padding: 2rem;
}

.ow {
    background-color: var(--grey-color);
}

/* Footer */

.footer {
    background-color: var(--primary-color);
    padding: 2rem 0.5rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1.5rem;
}

.footer .link {
    color: white;
}

.footer ul {
    padding-inline-start: 0px;
}

.footer .footer-header {
    font-size: larger;
    font-weight: bold;
}
