
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --primary-color: #10B981;
    --secondary-color: #4B5563;
    --grey-color: #E5E7EB;
}

/* Blog Styling */

body{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    margin: 0%;
}

.center {
    width: 70%;
    margin: auto;
    text-align: justify;
}

a {
    text-decoration: none;
    color: cornflowerblue;
}

/* Header */

.hero {
    padding: 1.5rem;
    text-align: center;
    margin: 0px;
}

.hero .hero-heading{
    color: var(--secondary-color);
    padding-top: 0.5rem;
    margin: 0px;
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

/* Blog div */

.blog-div {
    width: 70%;
    margin: auto;
    padding: 1rem;
    margin-top: 1rem;
}

.bg-for-blog-div {
    border-radius: 1rem;
}

.bg-for-blog-div:nth-child(2n) {
    background-color: #F3F4F6;
}

.blog-div  p {
    padding: 10px;
    padding-inline-start: 0%;
    margin: 0%;
}

.blog-div a p {
    width: initial;
    padding: 0.7rem;
    border-radius: 0.4rem;
    background-color: var(--primary-color);
    text-align: center;
    color: white;
    display: inline-block;
}

.blog-div a p {
    margin-top: 1rem;
}

h2 {
    font-weight: bolder;
    margin: 0%;
}

#subscribe {
    width: 45vw;
    height: 37vh;
    margin: auto;
    background-color: rgb(11, 14, 14);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

#subscribe-bar {
    width: 22vw;
    height: auto;
    margin: 0%;
    background-color: #EE7839;
    border-radius: 6px;
}

#subscribe-bar div {
    margin: 0px;
    margin-top: 0.25rem;
    margin-left: 0.2rem;
    margin-bottom: 0.2rem;
    padding: 1rem 0rem 0rem 0.6rem; 
    display: inline-block;
}

#input-text {
    width: 11vw;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

@media screen and (max-width: 1210px) {
    
    #subscribe-bar {
        width: 80%;
    }
    #input-text {
        width: 20vw;
    }
}

@media screen and (max-width: 830px) {
    #subscribe {
        width: 100%;
    }
    #subscribe-bar {
        width: 65%;
    }
    #input-text {
        width: 18vw;
    }
}

@media screen and (max-width: 550px) {
    #subscribe-bar {
        width: 95%;
    }
    #input-text {
        width: 25vw;
    }
}

@media screen and (max-width: 450px) {
    #input-text {
        width: 40vw;
    }
    .center {
        width: 90%;
    }
}

#input-submit {
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.input-class {
    padding: 0px;
    border: 0px;
}

.orange {
    background-color: #EE7839;
    color: whitesmoke;
    font-size: 1rem;
}

.lightslategray {
    background-color: #1C1D1F;
    font-size: 1rem;
}

/* Navigation */

.navigation {
    background-color: #10B981;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.navigation .nav-pills {
    text-align: right;
    text-decoration: none;
    padding: 1rem;
}

.navigation .nav-brand {
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0px;
    padding-top: 0.625rem;
}

.navigation .link {
    color: white;
    padding: 0rem 0.8rem;
    text-decoration: none;
}

.navigation .link-active {
    font-size: larger;
    font-weight: bold;
}

.list-non-bullet {
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

@media screen and (max-width: 365px) {

    .list-item-inline{
        padding: 0rem;
    }
    .navigation .link {
        padding: 0rem 0.2rem;
    }
    .list-item-inline{
        display: inline-block;
        padding: 3%;
    }
    #social-links {
        text-align: start;
        width: 30%;
        margin: auto;
    }
}


/* Footer For Links*/

.footer {
    background-color: var(--primary-color);
    padding: 0.5rem;
    text-align: center;
    color: white;
    border-radius: 0.5rem;
}

.footer .link {
    color: white;
}

.footer ul {
    padding-inline-start: 0px;
}

.footer .footer-header {
    font-size: larger;
    font-weight: bold;
}


